body{
  width: 80%;
  margin: auto;
}
.articleTitle{
  color: blue;
}
article{
  padding: 5px;
  margin: auto;
  display: block;

}
section {
  margin: 5px;
  padding: 40px;
  border: 1px solid blue;
  background: #CCCCCC;

}

article > h1{
  text-align: center;
}
.examTip{
  float: clear;
}

.rmvBtn{
  border: none;
  height: 25px;
  width: 25px;
  background: url('../../img/icon-rmv.jpg');
  background-repeat: no-repeat;
  background-size: 25px 25px;
}
.kvTable {
  margin: 20px;
}
.kvTable tr {
  border-bottom: 1px solid black;
}
.kvTable th{
  background-color:#AAAAAA;
}
.kvTable td{
width: 200px;

}
.kvTable tr:hover{
  background-color: #FFFFFF;
}


.kvTable:nth-child(odd){
  background-color:#CCCCCC;
}
#map {
  border: 1px solid black;
  height: 500px;
  width: 500px;
  z-index: 0;

}
